@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap');


.navbar-expand-md{
    margin: auto;
    width: auto;
    /* background-color: rgb(214, 29, 29); */
    height: auto;
    box-shadow: 1px 1px 6px #d3cfc9;
}
.container-fluid {
    width: 90% !important;
    zoom: 1;
    /* background-color: rgb(235, 172, 0); */
    /* max-width: 1015px; */
    padding: 0 auto;
    margin: 0 auto;
    position: relative;
}
.navbar-brand{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

}
.col-sm-2{
    /* background-color: #83a062; */
    display: flex;
    width:max-content !important;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.nav-title{
    /* background-color: #00b36e; */
    width: 100%;
    text-align: center;
}
.nav-title1{
    /* background-color: red; */
    font-family: 'Ceviche One', cursive;
    color: rgb(46, 93, 155);
    font-size: 70px;
    margin-bottom: 0; 
    padding-bottom: 0;
}
.nav-title2{
    /* background-color: purple; */
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(8, 111, 245);
    font-size: 10px;
    margin-top: 0; 
    padding-top: 0;
}
nav div div p span{
    font-family: 'Ceviche One', cursive;
    font-size: 15px;
}
#collapsibleNavbar {
    /* background-color: #00b36e; */
    display: flex;
    justify-content: right;
    background-color: white;
    margin: 0% 40px 0% 0%;
}
.navigation-bar {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 30px;
    align-items: center;
    align-content: center;
}
.nav-link {
    font-size: 15px !important;
    /* background-color: #f10e0e; */
    color:  blue !important;
    padding: 5px;
    margin: 10px;
    margin-top: 0;
}
/* __________________________________________ */




.nav-link:hover {
    color: #00b39b;
}


.dropdown:hover .dropdown-menu {
    display: block;
    background-color: white;
}

.dropdown-menu {
    display: none;
    position: absolute;
    width: 220px;
    margin-left: -540px;
    padding: 0px;
    background-color: blue;
    box-shadow: 0 5px 10px 0 #d3cfc9;
    border-radius: 0px;
    border-color: white;
}

